.select{
    background-color: white;
    color: rgb(0, 81, 255);
    padding: 10px;
    font-size: 15px;

}

.margin{
display: flex;
    width: 500px;
    height: 40px;
    border: solid #eeeeee 7px;
    border-radius: 100%;
    background-image: url('https://i.pinimg.com/564x/d7/b4/af/d7b4afb4db39c0818f220c6726e0e1e9.jpg');
    background-attachment: fixed;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 350px;
}