@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


.App {
   text-align: center;
}

.Cards{
   background-color: rgba(0, 0, 0, 0.5);
   background-repeat: no-repeat;
   background-attachment: fixed;
   border-radius: 10px;
   border: solid white 1px;
   padding: 10px;
   opacity: 50;
}

.titulo{
   color:white;
   font-family: 'Julius Sans One';
   padding: 70px;
   text-decoration:none
}
.titulo:visited{
   color:white;
   font-family: 'Julius Sans One';
   padding: 70px;
   text-decoration:none
}


